# Object files
*.o
*.obj

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Other

*.sdf
*.suo
*.pdb
*.idb
*.ipch
*.log
*.tlog
*.lastbuildstate

*.cmake
Makefile
CMakeFiles/
CMakeCache.txt
DartConfiguration.tcl
jdksavdecc-tool-print-pdu
jdksavdecc-tool-gen-acmpdu

